#fruit_description
{
	color:#980000;
}

#vegetable_description
{
	color:#484848;
}

#bean_description
{
	color:#CC66FF;
}

#slideshow
{
	margin-left:100px;
	width:200px;
	height:200px;
	overflow:hidden;
}